<div class="column is-three-fifths is-offset-one-fifth">

  <% @posts.each do | post | %>
    <div class="box">
      <div class="content">
        <strong class="title">A Funny Story</strong><br/>
        <small class="subtitle">By Jacob Jones</small><br/>
        <p>A really funny story.</p>
      </div>
    </div>
  <% end %>

</div>